/*
 *= require_self
 *
 *= require styles.css
 *
 *= require registration.css
 *
 *= require profile.css
 *
 *= require products.css
 *
 *= require order.css
 *
 *= require chat.css


*/

*{
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

header {
    padding: 15px 30px;
    border-bottom: 1px solid black;
}
