.chat {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 68px - 250px);
}

.chat_wrapper {
    margin: 0 auto;
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    max-height: calc(100vh - 68px - 250px);
}

.chat-container {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chat-header {
    margin: 0;
    font-size: 36px;
    text-align: center;
}

.chat-messages {
    max-width: 100%;
    margin: 10px 5px;
    overflow: auto;
    scroll-behavior: smooth;
    word-wrap: break-word;
}

.chat-form {
    display: flex;
    gap: 20px;
}

.message-input {
    padding: 10px 5px;
    border: 1px solid #000000;
    border-radius: 10px;
    font-size: 16px;
    line-height: 120%;
    flex-grow: 2;
    outline: none;
}

.chat-submit {
    padding: 10px 10px;
    border: none;
    background-color: #6a6460;
    color: #FAFAFA;
    border-radius: 10px;
    font-size: 16px;
    line-height: 120%;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.chat-submit:hover {
    background-color: #504b49;
}

.chat-list {
    padding: 40px 90px;
}

.chat-link {
    text-decoration: none;
    font-weight: 500;
}