.comm-wrapper {
    /*margin: 0 auto;*/
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    min-height: calc(100vh - 68px - 250px);
}

.comm-container {
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.comm-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    text-align: center;
}

.comm-form{
    display: flex;
    flex-direction: column;
    align-items: center; /* Вирівнюємо елементи по центру горизонтально */
}


.comments {
    width: auto;
    height: 300px;
    margin: 10px 10px;
    overflow: auto;
    scroll-behavior: smooth;
    justify-content: center;
    align-items: center;
}


.comm-content {
    display: flex;
    font-size: 18px;
    margin-bottom: 10px;
    color: #4d4d4d;
    padding-left: 20px;
    align-items: center;
    border-radius: 10px; /* Закруглення кутів */
    box-shadow: 0 0 10px rgba(82, 66, 54, 0.1); /* Тінь для блоку */
    position: relative;
}

.comm-content h3 {
    display: inline; /* Встановлюємо inline для елементу h3 */
    margin-right: 10px; /* Відступ справа для невеликого простору між h3 і p */
}

.comm-content p {
    display: inline; /* Встановлюємо inline для елементу p */
    word-wrap: break-word;
    flex-grow: 1; /* Розширюємо елемент p на всю доступну ширину, залишаючи місце для кнопки */
    overflow: hidden; /* Забороняємо виходити за межі контейнера */
    margin-right: 130px;
}


.comm-content .delete-button{
    border-radius: 10px;
    font-size: 20px;
    height: 40px;
    width: auto;
    position: absolute;
    right: 0; /* Розміщуємо кнопку видалення по ліву сторону контейнера */
    transform: translateY(-50%); /* Центруємо по вертикалі */
    margin-right: 10px;
    flex-shrink: 0;
}

.comment-input {
    width: 600px;
    height: 100px;
    padding: 10px 5px;
    border: 1px solid #000000;
    border-radius: 10px;
    font-size: 16px;
    flex-grow: 2;
    outline: none;
}

.comm-field {
    display: flex;
    flex-direction: column;
    align-items: center; ;
    text-align: center;
    margin-bottom: 0px;
}

.rating-button {
    color: #090808;
    font-size: 16px;
    line-height: 120%;
    transition: background-color 0.3s ease;
    cursor: pointer;
    margin-top: 10px;
    padding: 10px 20px; /* Зміна відступів кнопок */
    border: 1px solid #ccc; /* Додавання рамки */
    border-radius: 10px; /* Закруглення кутів */
    background-color: #f9f9f9; /* Зміна кольору фону */
}

.rating-button:hover {
    background-color: #504b49;
}

.rating-button.selected {
    background-color: #504b49;
    color: white;
}

.rating-buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}


.comm-submit {
    margin-top: 15px;
    border: none;
    background-color: #6a6460;
    color: #FAFAFA;
    border-radius: 10px;
    font-size: 20px;
    height: 40px;
    width: auto;
    transition: background-color 0.3s ease;
    cursor: pointer;
}


.comm-submit:hover {
    background-color: #504b49;
}

.rating-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center; /* Вирівнюємо елементи по центру горизонтально */
    text-align: center; /* Вирівнюємо текст по центру */
}

.rating-label {
    margin-top: 18px; /* Додаємо відступ між підписом та кнопками */
    align-items: center; /* Вирівнюємо елементи по центру горизонтально */
    text-align: center;
    font-size: 20px;
}







