/*Стилі для товарів index*/

.products-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-list {
    flex-direction: column;
    align-items: center;
}

.product {
    display: flex;
    align-items: center;
    margin-bottom: 23px;
    width: 600px;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.product:hover {
    background-color: #e8e8e8;
}

.product-info {
    margin-left: 10px;
    height: 100px;
    text-align: left;
}

.product-name {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 0;
}

.product-price {
    color: grey;
    margin-top: 12px;
    margin-bottom: 20px;
}

.grey-square {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    position: relative;
    /*background-color: grey;*/
}

.sorting-buttons {
    margin-bottom: 20px;
}

.export-buttons {
    margin-top: 20px;
}

.sort-button, .csv-button {
    display: inline-block;
    margin-right: 10px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-decoration: none;
    color: #333;
}

.sort-button:hover, .csv-button:hover {
    background-color: #f0f0f0;
}

.sort-button:active, .csv-button:active {
    background-color: #e0e0e0;
}

/* Стилі для сторінки продукту show */

.product-container {
    height: auto;
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    margin-top: 120px;
    margin-bottom: 120px;
}

.product-details {
    max-width: 650px;
    margin-left: 30px;
    text-align: left;
}

.grey-square-img {
    /*background-color: grey;*/
    width: auto;
    height: 600px;
    border-radius: 30px;
}

.image-div {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.product-details h2 {
    font-size: 48px;
    margin-top: 0;
    margin-bottom: 20px;
}

.price-order {
    display: flex;
    align-items: center;
    gap: 50px;
}

.price {
    font-size: 36px;
    font-weight: bold;
    color: #4d4d4d;
    margin-bottom: 0;
}

.product-button-con {
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin-right: 10px;
    align-items: center;
}

.button-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.one-button {
    margin-right: 15px;
}

.order-button, .add-to-set-button, .chat-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #6a6460;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    border: none;
}

.order-button:hover, .add-to-set-button:hover, .chat-button:hover {
    background-color: #504b49;
}

.description-container {
    word-wrap: break-word;
    margin-top: 0;
}

.description-container h1 {
    margin-top: 60px;
    margin-bottom: 0;
    font-size: 36px;
}

.description {
    font-size: 24px;
}

#description-text {
    margin-top: 16px;
    margin-bottom: 60px;
}

.delivery-list {
    margin-top: 16px;
    margin-bottom: 24px;
}

#last-description {
    margin-bottom: 0;
}