.icons-container {
    display: flex;
    align-items: center;
    gap: 30px;
}

.icons-item {
    flex: 1 1;
}

#link-logo {
    font-size: 30px;
    font-weight: 300;
    text-decoration: none;
    color: #000000;
}

.search-container {
    position: relative;
}

#search {
    width: 160px;
    height: 30px;
    padding: 0 10px;
    border: 1.5px solid #000;
    border-radius: 30px;
}

.search-icon {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 5px;
    left: 10px;
}

#search:focus + .search-icon {
    display: none;
}

#search:focus {
    outline: none;
}

.nav-icons {
    width: 30px;
    height: 30px;
}

.background-image {
    background: url('header/sample-1.jpg');
    background-size: cover;
    width: 100%;
    height: calc(100vh - 67px);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.container-about {
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

#logo-text {
    font-size: 64px;
    font-weight: 300;
}

.about-button {
    width: 219px;
    height: 62px;
    border-radius: 30px;
    border: 1px solid white;
    background-color: rgba(71, 65, 60, 0.17);
    color: white;
    font-size: 32px;
    font-weight: 100;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.about-button:hover {
    background-color: rgba(71, 65, 60, 0.5);
}

#category-title {
    display: flex;
    font-size: 45px;
    font-weight: 300;
    color: black;
    justify-content: center;
    margin-top: 45px;
    margin-bottom: 45px;
}

.category-grid {
    display: flex;
    justify-content: center;
}

.category-column {
    display: flex;
    flex-direction: column;
    gap: 23px;
    margin-right: 23px;
    margin-bottom: 90px;
}

.category-img {
    height: 400px;
    width: 400px;
    object-fit: cover;
}

.cat-img-dark {
    width: 100%;
    height: auto;
    float: left;
    padding: 0;
    position: relative;
    background-color: black;
}

.cat-img-dark:hover img {
    opacity: 0.3;
}

.cat-img-dark:hover .work-text-content {
    opacity: 1;
}

.category-img {
    padding: 0;
    width: 100%;
    display: block;
    opacity: 1;
    height: 400px;
    object-fit: cover;
}

.category-img,
.work-text-content {
    -webkit-transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out;
}

.work-text-content {
    position: absolute;
    color: white;
    left: 0;
    top: 142.5px;
    right: 0;
    bottom: 0;
    font-size: 36px;
    text-align: center;
    opacity: 0;
}

#why-we-title {
    display: flex;
    font-size: 45px;
    font-weight: 700;
    justify-content: center;
    margin-bottom: 74px;
}

.why-we-grid {
    display: flex;
    justify-content: center;
    margin-bottom: 90px;
}

.why-we-column {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 40px;
}

.why-we-icon {
    width: 30px;
    height: 30px;
}

#why-we-column-title {
    font-size: 20px;
    font-weight: 500;
    color: black;
    margin-top: 15px;
    text-align: center;
}

.why-we-column p {
    font-size: 16px;
    font-weight: 300;
    color: black;
    margin-top: 8px;
    text-align: center;
}

footer {
    background-color: #6A6460;
    height: 250px;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-left: 65px;
    padding-right: 65px;
}

.footer-grid {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer-column {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.footer-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-icon {
    width: 30px;
    height: 30px;
}

#footer-title, .footer-column p, a {
    font-size: 20px;
    font-weight: 300;
    color: black;
    text-align: center;
}

#footer-title {
    font-weight: 500;
}

.email-field {
    width: 350px;
    height: 30px;
    border: none;
    border-radius: 30px;
    padding: 0 15px;
    font-size: 20px;
    font-weight: 100;
    color: #8B8B8B;
}

button {
    width: 165px;
    height: 35px;
    background-color: black;
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 20px;
    font-weight: 300;
    align-self: center;
    margin-top: 15px;
    cursor: pointer;
}

.button_log_out {
    width: 30px;
    height: 30px;
}

.button_log_out button {
    width: 30px;
    height: 30px;
    background: none;
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.button_log_out button img {
    width: 30px;
    height: 30px;
}

/*Стилі для підкатегорій*/

.sub-categories-row {
    display: flex;
    gap: 23px;
    justify-content: center;
}

.black-square {
    width: 400px;
    height: 400px;
    background-color: black;
}