<h1>Editing sub category</h1>

<%= render "form", sub_category: @sub_category %>

<br>

<div>
  <%= link_to "Show this sub category", @sub_category %> |
  <%= link_to "Back to sub categories", sub_categories_path %>
</div>
