<div id="<%= dom_id ordered_product %>">
  <p>
    <strong>Product:</strong>
    <%= ordered_product.product_id %>
  </p>

  <p>
    <strong>Prod amount:</strong>
    <%= ordered_product.prod_amount %>
  </p>

</div>
