# See https://git-scm.com/docs/gitattributes for more about git attribute files.

* text=auto

# Mark the database schema as having been generated.
furniture_app/db/schema.rb linguist-generated

# Mark any vendored files as having been vendored.
furniture_app/vendor/* linguist-vendored
furniture_app/config/credentials/*.yml.enc diff=rails_credentials
furniture_app/config/credentials.yml.enc diff=rails_credentials
