<p style="color: green"><%= notice %></p>

<div class = "chat-header">
  <h3>Чат-кімната для категорії <%= @category_name %></h3>
</div>
<%= render @room %>

<div>
<!--  <%#= link_to "Edit this room", edit_room_path(@room) %> |-->

  <%#= button_to "Destroy this room", @room, method: :delete %>
</div>
