<div id="<%= dom_id ordered_product %>">
  <p>
    <strong>Order:</strong>
    <%= ordered_product.order_id %>
  </p>

  <p>
    <strong>Prod:</strong>
    <%= ordered_product.prod_id %>
  </p>

  <p>
    <strong>Prod amount:</strong>
    <%= ordered_product.prod_amount %>
  </p>

</div>
