<p style="color: green"><%= notice %></p>

<h1>Ordered products</h1>

<div id="ordered_products">
  <% @ordered_products.each do |ordered_product| %>
    <%= render ordered_product %>
    <p>
      <%= link_to "Show this ordered product", ordered_product %>
    </p>
  <% end %>
</div>

<%= link_to "New ordered product", new_ordered_product_path %>
