<div id="<%= dom_id cart %>">
  <p>
    <strong>Client:</strong>
    <%= cart.client_id %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= cart.product_id %>
  </p>

  <p>
    <strong>Prod amount:</strong>
    <%= cart.prod_amount %>
  </p>

</div>
