<h1>Чат</h1>

<div id="chat-messages" data-manufacturer-id="<%= @manufacturer.id %>" data-user-id="<%= @user.id %>" data-user-type="<%= @user_type %>">
</div>

<form id="message-form">
  <input type="text" id="message-input" placeholder="Повідомлення...">
  <button type="submit">Відправити</button>
</form>