<div id="<%= dom_id prod_review %>">
  <p>
    <strong>Product:</strong>
    <%= prod_review.product_id %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= prod_review.client_id %>
  </p>

  <p>
    <strong>Review text:</strong>
    <%= prod_review.review_text %>
  </p>

</div>
