<!-- kitchen.html.erb -->

<p>Категорія Вітальня: Комфорт та стиль об'єднуються в цій колекції меблів для вітальні.
  Завдяки широкому вибору дизайнів та функцій, ви знайдете ідеальні рішення для вашого простору вітальні.</p>

<h3>Підкатегорії:</h3>
<!--<ul>-->
  <%# sub_categories.each do |subcategory| %>
<!--    <li><%#= subcategory.subcat_name %></li>-->
  <%# end %>
<!--</ul>-->
