<p>Категорія "Зберігання" Зручне та ефективне зберігання - ключ до організованого простору. У цій категорії
  ви знайдете рішення для зберігання різних речей, від одягу до посуду, що допоможе максимально використовувати простір вашого дому..</p>

<h3>Підкатегорії (<%= @sub_categories.count %>)</h3>
<div class="subcategory-columns">
  <div class="subcategory-column">
    <ul>
      <% @sub_categories_left.each do |subcategory| %>
        <li><%= subcategory.subcat_name %></li>
      <% end %>
    </ul>
  </div>

  <div class="subcategory-column">
    <ul>
      <% @sub_categories_middle.each do |subcategory| %>
        <li><%= subcategory.subcat_name %></li>
      <% end %>
    </ul>
  </div>

  <div class="subcategory-column">
    <ul>
      <% @sub_categories_right.each do |subcategory| %>
        <li><%= subcategory.subcat_name %></li>
      <% end %>
    </ul>
  </div>
</div>