<!-- kitchen.html.erb -->

<p>Категорія "Зберігання" Зручне та ефективне зберігання - ключ до організованого простору. У цій категорії
  ви знайдете рішення для зберігання різних речей, від одягу до посуду, що допоможе максимально використовувати простір вашого дому..</p>

<h3>Підкатегорії:</h3>
<!--<ul>-->
  <%# sub_categories.each do |subcategory| %>
<!--    <li><%#= subcategory.subcat_name %></li>-->
  <%# end %>
<!--</ul>-->
