<!-- kitchen.html.erb -->

<p>Категорія "Кухня" пропонує широкий вибір товарів для вашої кухні. Ви знайдете тут все необхідне для приготування смачних страв, зручне кухонне обладнання та аксесуари для організації простору.</p>

<h3>Підкатегорії:</h3>
<!--<ul>-->
  <%# sub_categories.each do |subcategory| %>
<!--    <li><%#= subcategory.subcat_name %></li>-->
  <%# end %>
<!--</ul>-->
