<div class="subcategory-columns">
  <div class="subcategory-column">
    <p>Категорія "Кухня" пропонує широкий вибір товарів для вашої кухні. Ви знайдете тут все необхідне для приготування смачних страв, зручне кухонне обладнання та аксесуари для організації простору.</p>
  </div>
</div>

<div class="subcategory-description">
  <h3>Підкатегорії (<%= @sub_categories.count %>)</h3>
</div>

<div class="subcategory-columns">
  <div class="subcategory-column">
    <ul>
      <% @sub_categories_left.each do |subcategory| %>
        <li><%= subcategory.subcat_name %></li>
      <% end %>
    </ul>
  </div>

  <div class="subcategory-column">
    <ul>
      <% @sub_categories_middle.each do |subcategory| %>
        <li><%= subcategory.subcat_name %></li>
      <% end %>
    </ul>
  </div>

  <div class="subcategory-column">
    <ul>
      <% @sub_categories_right.each do |subcategory| %>
        <li><%= subcategory.subcat_name %></li>
      <% end %>
    </ul>
  </div>
</div>
