<div class="subcategory-columns">
  <div class="subcategory-column">
    <p>Категорія "Робоча зона" - створити комфортне та функціональне робоче середовище.
      Тут ви знайдете все необхідне для організації робочого місця, від столів та стільців до освітлення та аксесуарів.</p></div>
</div>

<div class="subcategory-description">
  <h3>Підкатегорії (<%= @sub_categories.count %>)</h3>
</div>

<div class="subcategory-columns">
  <div class="subcategory-column">
    <ul>
      <% @sub_categories_left.each do |subcategory| %>
        <li><%= subcategory.subcat_name %></li>
      <% end %>
    </ul>
  </div>

  <div class="subcategory-column">
    <ul>
      <% @sub_categories_middle.each do |subcategory| %>
        <li><%= subcategory.subcat_name %></li>
      <% end %>
    </ul>
  </div>

  <div class="subcategory-column">
    <ul>
      <% @sub_categories_right.each do |subcategory| %>
        <li><%= subcategory.subcat_name %></li>
      <% end %>
    </ul>
  </div>
</div>
