<!-- kitchen.html.erb -->

<p>Категорія "Робоча зона" - створити комфортне та функціональне робоче середовище.
  Тут ви знайдете все необхідне для організації робочого місця, від столів та стільців до освітлення та аксесуарів..</p>

<h3>Підкатегорії:</h3>
<!--<ul>-->
  <%# sub_categories.each do |subcategory| %>
<!--    <li><%#= subcategory.subcat_name %></li>-->
  <%# end %>
<!--</ul>-->
