<!-- kitchen.html.erb -->

<p>Категорія "Спальня": Створіть ідеальний оазис спокою та затишку з нашою колекцією спальні.
  Від сучасних до класичних дизайнів, ми пропонуємо рішення, які відповідають вашому стилю та потребам.</p>

<h3>Підкатегорії:</h3>
<!--<ul>-->
  <%# sub_categories.each do |subcategory| %>
<!--    <li><%#= subcategory.subcat_name %></li>-->
  <%# end %>
<!--</ul>-->
