<p>Категорія "Сад": Подаруйте собі та своїй родині оазіс затишку та краси з нашою колекцією меблів для саду.
  Від меблів для обіднього майданчика до зручних лежаків, ми пропонуємо все необхідне для створення незабутнього садового простору.</p>

<h3>Підкатегорії (<%= @sub_categories.count %>)</h3>
<div class="subcategory-columns">
  <div class="subcategory-column">
    <ul>
      <% @sub_categories_left.each do |subcategory| %>
        <li><%= subcategory.subcat_name %></li>
      <% end %>
    </ul>
  </div>

  <div class="subcategory-column">
    <ul>
      <% @sub_categories_middle.each do |subcategory| %>
        <li><%= subcategory.subcat_name %></li>
      <% end %>
    </ul>
  </div>

  <div class="subcategory-column">
    <ul>
      <% @sub_categories_right.each do |subcategory| %>
        <li><%= subcategory.subcat_name %></li>
      <% end %>
    </ul>
  </div>
</div>