<!-- kitchen.html.erb -->

<p>Категорія "Сад": Подаруйте собі та своїй родині оазіс затишку та краси з нашою колекцією меблів для саду.
  Від меблів для обіднього майданчика до зручних лежаків, ми пропонуємо все необхідне для створення незабутнього садового простору.</p>

<h3>Підкатегорії:</h3>
<!--<ul>-->
  <%# sub_categories.each do |subcategory| %>
<!--    <li><%#= subcategory.subcat_name %></li>-->
  <%# end %>
<!--</ul>-->
