<h1>Editing prod review</h1>

<%= render "form", prod_review: @prod_review %>

<br>

<div>
  <%= link_to "Show this prod review", @prod_review %> |
  <%= link_to "Back to prod reviews", prod_reviews_path %>
</div>
