<p style="color: green"><%= notice %></p>

<h1>Prod reviews</h1>

<div id="prod_reviews">
  <% @prod_reviews.each do |prod_review| %>
    <%= render prod_review %>
    <p>
      <%= link_to "Show this prod review", prod_review %>
    </p>
  <% end %>
</div>

<%= link_to "New prod review", new_prod_review_path %>
