<div id="<%= dom_id sub_category %>">
  <p>
    <strong>Category:</strong>
    <%= sub_category.category_id %>
  </p>

  <p>
    <strong>Subcat name:</strong>
    <%= sub_category.subcat_name %>
  </p>

</div>
