<div id="<%= dom_id prod_set %>">
  <p>
    <strong>User:</strong>
    <%= prod_set.user_id %>
  </p>

  <p>
    <strong>Set name:</strong>
    <%= prod_set.set_name %>
  </p>

  <p>
    <strong>Prod data:</strong>
    <%= prod_set.prod_data %>
  </p>

</div>
