<h1>Editing order set</h1>

<%= render "form", order_set: @order_set %>

<br>

<div>
  <%= link_to "Show this order set", @order_set %> |
  <%= link_to "Back to order sets", order_sets_path %>
</div>
