<div id="<%= dom_id manufacture %>">
  <p>
    <strong>Manufacture name:</strong>
    <%= manufacture.manufacture_name %>
  </p>

  <p>
    <strong>Manufacture country:</strong>
    <%= manufacture.manufacture_country %>
  </p>

</div>
