<h1>Editing manufacture</h1>

<%= render "form", manufacture: @manufacture %>

<br>

<div>
  <%= link_to "Show this manufacture", @manufacture %> |
  <%= link_to "Back to manufactures", manufactures_path %>
</div>
