<div id="<%= dom_id prod_raiting %>">
  <p>
    <strong>Product:</strong>
    <%= prod_raiting.product_id %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= prod_raiting.client_id %>
  </p>

  <p>
    <strong>Raiting val:</strong>
    <%= prod_raiting.raiting_val %>
  </p>

</div>
