<h1>Editing prod raiting</h1>

<%= render "form", prod_raiting: @prod_raiting %>

<br>

<div>
  <%= link_to "Show this prod raiting", @prod_raiting %> |
  <%= link_to "Back to prod raitings", prod_raitings_path %>
</div>
