<p style="color: green"><%= notice %></p>

<h1>Prod raitings</h1>

<div id="prod_raitings">
  <% @prod_raitings.each do |prod_raiting| %>
    <%= render prod_raiting %>
    <p>
      <%= link_to "Show this prod raiting", prod_raiting %>
    </p>
  <% end %>
</div>

<%= link_to "New prod raiting", new_prod_raiting_path %>
